In [1]:
import pandas as pd
import numpy as np

In [2]:
forecast = pd.read_csv("../results/state_risk_forecast.csv")

forecast.head()

           state  predicted_risk_score
0  Uttar Pradesh              1.073926
1        Manipur              0.840630
2      Meghalaya              0.772353
3          Bihar              0.754004
4          Assam              0.524385

In [3]:
policy_scenarios = {
    "low_intervention": 0.90,     # 10% risk reduction
    "medium_intervention": 0.70,  # 30% risk reduction
    "high_intervention": 0.50     # 50% risk reduction
}

In [4]:
for policy, factor in policy_scenarios.items():
    forecast[policy] = forecast['predicted_risk_score'] * factor

forecast.head()

,state,predicted_risk_score,low_intervention,medium_intervention,high_intervention
0,Uttar Pradesh,1.073926,0.966534,0.751748,0.536963
1,Manipur,0.840630,0.756567,0.588441,0.420315
2,Meghalaya,0.772353,0.695118,0.540647,0.386176
3,Bihar,0.754004,0.678604,0.527803,0.377002
4,Assam,0.524385,0.471947,0.367070,0.262193

In [5]:
forecast.to_csv(
    "../results/policy_simulation_output.csv",
    index=False
)

print("✅ POLICY SIMULATION SAVED")

✅ POLICY SIMULATION SAVED